.container {
  position: relative;
  margin: 0 auto;

  max-width: 768px; 
  padding: 8px 4px;

  max-height: 70vh;
  overflow-y: auto;
}

@media (min-width: 640px) {
  .container {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.empty {
  border-radius: 16px;
  border: 1px solid rgb(255 255 255 / 0.1);
  background: rgb(255 255 255 / 0.03);
  padding: 24px;

  font-size: 14px;
  color: rgb(212 212 216);

  backdrop-filter: blur(24px);
}

.highlight {
  color: rgb(212 212 216);
  font-weight: 500;
}